{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="book-page">
        <div class="book">
            <div class="image">
                {% if book.liked %}
                    <img src={% static "media/heart.png.png" %} height="20" width="20" class="liked" alt="">
                {% endif %}
                {% if book.wishlist %}
                    <img class="wishlist" src={% static "media/star.png" %} width="20" height="20" alt="">
                {% endif %}
                {#                        {% if book.done %}#}
                {#                            it's done#}
                {#                        {% endif %}#}
                <img src="{{ book.media }}" width="200" height="300" alt="">
            </div>
            <div class="book-info">
                <p class="book-title">{{ book.title }} / {{ book.author }}</p>
                <div class="actions-block">
                        <a class="action" href="/books/{{ book.id }}/fav">LIKE</a>
                        <a class="action" href="/books/{{ book.id }}/wish">WISH</a>
                        <a class="action" href="/books/{{ book.id }}/done">DONE</a>
                    <form action="/books/{{ book.id }}/rate" method="post">
                        {% csrf_token %}
                        <input type="number" placeholder="rate" name="book_rate">
                        <button type="submit">SUBMIT</button>
                    </form>
                </div>
                <p class="book-desc">{{ book.description }}</p>
                <a class="action" href="/books/{{ book.id }}/open">Open Book</a>
            </div>

        </div>
        <p class="title">Last book reviews</p>
        <div class="reviews-container">
            {% for feedback in page_obj %}
                <div class="review">
                    <div class="review-block">
                        <a href="/books/{{ feedback.book_id_id }}"><p class="book-name">{{ feedback.book_id.title }}</p>
                        </a>
                        <div class="author">
                            <img src={% static "media/avatar.png" %} height="20" width="20" alt="">
                            <p class="name">{{ feedback.user_id.username }}</p>
                        </div>
                        <p class="text">
                            {{ feedback.text }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}