{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container form">
        <div class="edit-form">
            <p class="form-title">Login</p>


            <form method="post">
                {% csrf_token %}
                <label for="username"><b>Username</b></label>
                <input type="text" name="username" required>

                <label for="password"><b>Password</b></label>
                <input type="password" name="password" required>

                <button type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}

