{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container form">
        <div class="edit-form">
            <p class="form-title">Sign Up</p>
            <form method="post">
                {% csrf_token %}
                <label for="username"><b>Юзернейм</b></label>
                <input type="text" name="username" required>

                <label for="email"><b>Електронна адреса</b></label>
                <input type="text" name="email" required>

                <label for="password"><b>Пароль</b></label>
                <input type="password" name="password" required>

                <label for="repeat_password"><b>Повторіть пароль</b></label>
                <input type="password" name="repeat_password" required>

                <label for="first_name"><b>Ім'я</b></label>
                <input type="text" name="first_name" required>

                <label for="last_name"><b>Прізвище</b></label>
                <input type="text" name="last_name" required>


                <button type="submit">Sign Up</button>


            </form>
        </div>
    </div>
{% endblock %}








