{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="user-page">
        <div class="user-info">
            <div class="user-name">
                {{ request.user.username }} <br>
                <a href="/user/{{ request.user.id }}/update">Edit profile</a>
                <a href="/user/logout">Logout</a>
            </div>
            <div class="user-stats">
                <div class="stat">
                    Done <br>
                    {{ user_data.all_read_books_count }}
                </div>
                <div class="stat">
                    Wishlisted
                    <br>
                    {{ user_data.all_wishlist_count }}
                </div>
                <div class="stat">
                    Liked <br>
                    {{ user_data.all_favourites_count }}
                </div>
                <div class="stat">
                    Total Reading Time <br>
                    {{ user_data.total_reading }} minutes
                </div>
            </div>
        </div>
        <p class="title">Last Read</p>
        <div class="container">
            {% for book in user_data.last_read_books %}
                <div class="book">
                    <div class="image">
                        <img src="{{ book.book_id.media }}" width="200" height="300" alt="">
                    </div>
                    <div class="book-info">
                        <a href="/books/{{ book.book_id_id }}">
                            <div class="book-title">{{ book.book_id.title }}</div>
                        </a>
                        <div class="book-author">{{ book.book_id.author }}</div>
                        {% if book.total_reading_time %}
                            <p class="book-title">Reading Time: {{ book.total_reading_time }}min</p>
                        {% else %}
                            <p class="book-title">Reading Time: 0</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <p class="title">Last Favourites</p>
        <div class="container">
            {% for book in user_data.last_added_to_fav %}
                <div class="book">
                    <div class="image">
                        <img src="{{ book.book_id.media }}" width="200" height="300" alt="">
                    </div>
                    <a href="/books/{{ book.book_id_id }}">
                        <div class="book-title">{{ book.book_id.title }}</div>
                    </a>
                    <div class="book-author">{{ book.book_id.author }}</div>
                        {% if book.total_reading_time %}
                            <p class="book-title">Reading Time: {{ book.total_reading_time }}min</p>
                        {% else %}
                            <p class="book-title">Reading Time: 0</p>
                        {% endif %}
                </div>
            {% endfor %}
        </div>
        <p class="title">Last Added to Wishlist</p>
        <div class="container">
            {% for book in user_data.last_added_to_wishlist %}
                <div class="book">
                    <div class="image">
                        <img src="{{ book.book_id.media }}" width="200" height="300" alt="">
                    </div>
                    <a href="/books/{{ book.book_id_id }}">
                        <div class="book-title">{{ book.book_id.title }}</div>
                    </a>
                    <div class="book-author">{{ book.book_id.author }}</div>
                        {% if book.total_reading_time %}
                            <p class="book-title">Reading Time: {{ book.total_reading_time }}min</p>
                        {% else %}
                            <p class="book-title">Reading Time: 0</p>
                        {% endif %}
                </div>
            {% endfor %}
        </div>


    </div>
{% endblock %}